/* Aside */
.sidebar {
  grid-area: aside;

  display: flex;
  justify-content: end;
  max-width: 300px;
  /* seguindo a largura do design */
  margin-left: 10px;
}

.sidebar-contents {
  margin-top: 68px;
}

.advertisement-aside {
  display: grid;
  gap: 34px;
}

.lastest-news {
  display: grid;
  gap: 20px;
}

.lastest-news>a {
  text-decoration: none;
}

.news-article {
  display: flex;
  align-items: center;
}

.news-article>h3 {
  margin-left: 16px;
}

/* Aside-mobile */
.sidebar-mobile {
  grid-area: aside-mobile;
  display: none;

  margin-bottom: 40px;
}

.lastest-news-mobile {
  display: grid;
  margin-top: 30px;
  gap: 8px;
}

.mobile-news-article {
  max-width: 600px;
  /* melhor largura em relação a tablet */
  height: 130px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.article-text>a {
  text-decoration: none;
}