.aside1 {
  grid-area: aside;

  display: flex;
  justify-content: end;
  max-width: 300px;
  margin-left: 10px;
}

.aside-right {
  margin-top: 68px;
}

.ads>figure {
  display: flex;
  flex-direction: column;

  gap: 34px;
}

.ads>figure>a:last-child {
  margin-bottom: 34px;
}

.ads>figure {
  display: flex;
  justify-content: stretch;
}

.lastest-news>article {
  max-width: 300px;
}

.lastest-news>article>a {
  display: flex;
  align-items: center;

  margin: 20px 0px;

  text-decoration: none;
}

.lastest-news>article>a>h3 {
  margin-left: 16px;
}

.aside2 {
  grid-area: aside2;
  display: none;

  margin-bottom: 40px;
}

.lastest-news2>article {
  max-width: 85%;
  height: 130px;

  margin: 16px 0px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.lastest-news2>article>div>a>h3 {
  margin-top: 8px;
}

.lastest-news2>article>div>a {
  text-decoration: none;
}