* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body ul {
  list-style: none;
}

hr {
  background-color: #DDDDDD;
  opacity: 0.3;
}

/* Navbar Primary */

.navbar-top {
  max-width: 1200px;/* proporção mais parecida com design(header) */

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 94px;
  align-items: center;
  gap: 10px;

  padding: 0px 20px;
}

.nav-top-btn-buguer {
  justify-self: start;
}

.nav-top-btn-buguer>a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;

  padding: 14px 12px;

  border-radius: 50%;
}

.nav-top-logo {
  justify-self: center;
}

.nav-top-search {
  position: relative;

  justify-self: end;
}

.nav-top-search>form>input {
  background-color: #e9e9e9;

  padding: 14px 10px 12px 24px;

  border-radius: 22px;
  border: none;
}

.nav-top-search>form>input::-webkit-search-cancel-button {
  display: none;
}

.nav-top-search>form>button {
  position: absolute;
  right: 20px;
  top: 15px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.nav-top-search-form>img {
  width: 18px;
  height: 18px;
}

/* Category Menu */
.category-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 5px;

  max-width: 1200px;/* proporção do header */
  height: 55px;

  margin: 0 auto;
  padding: 0px 20px;

  overflow-x: scroll;
  list-style: none;
}

.category-list::-webkit-scrollbar {
  display: none;
}

.option {
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.5s;
  border-radius: 20px;
  padding: 5px 2px;
}

.option:hover,
.option:focus {
  padding: 5px 15px;
  color: #ffff;
}

.option-green:hover {
  background-color: #1D8108;
}

.option-gray:hover {
  background-color: #1D4D58;
}

.option-red:hover {
  background-color: #AD0202;
}

.option-brown:hover {
  background-color: #6E3404;
}

.option-cyan:hover {
  background-color: #047885;
}

.option-mossgreen:hover {
  background-color: #2A6F48;
}

.option-purple:hover {
  background-color: #9B28B8;
}

.option-darkpurple:hover {
  background-color: #513373;
}

.option-orange:hover {
  background-color: #BD5B07;
}

.option-gray2:hover {
  background-color: #193B4F;
}

/* Article Highlights */
.highlights {
  max-width: 1200px;/* proporção do header */
  padding-left: 20px;

  margin: 10px auto;
  
  height: 75px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 22px;

  overflow-x: scroll;
}

.highlights>a {
  text-decoration: none;
}

.highlight-article {
  width: 305px;
  height: 74px;

  display: flex;
  align-items: center;
  gap: 14px;
}

.highlights::-webkit-scrollbar {
  display: none;
}

.smoke {
  position: absolute;
  background: transparent linear-gradient(90deg, #FFFFFF00 0%, #FFFFFF 100%);
  border-top: 1px solid #DDDDDD;
  width: 70px;
  height: 152px;
  right: 0px;
  top: 94px;
}