* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body ul {
  list-style: none;
}

hr {
  background-color: var(--border-color);
  opacity: 0.3;
}

/* Navbar Primary */

.menu {
  max-width: 1200px;
  /* proporção mais parecida com design(header) */

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 94px;
  align-items: center;
  gap: 10px;

  padding: 0px 20px;

  list-style: none;
}

.menu-btn-buguer {
  justify-self: start;
}

.menu-btn-buguer>button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--burger-button-bg-color);

  padding: 14px 12px;

  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.menu-logo {
  justify-self: center;
}

.menu-search {
  position: relative;

  justify-self: end;
}

.menu-search>form>input {
  background-color: var(--navbar-search-bg-color);

  padding: 14px 10px 12px 24px;

  border-radius: 22px;
  border: none;
}

.menu-search>form>input::-webkit-search-cancel-button {
  display: none;
}

.menu-search>form>button {
  position: absolute;
  right: 20px;
  top: 10px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.menu-search-form>img {
  width: 18px;
  height: 18px;
}

/* Category Menu */
.category-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 5px;

  max-width: 1200px;
  /* proporção do header */
  height: 55px;

  margin: 0 auto;
  padding: 0px 20px;

  overflow-x: scroll;
  list-style: none;
}

.category-list::-webkit-scrollbar {
  display: none;
}

.option {
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.5s;
  border-radius: 20px;
  padding: 5px 2px;
}

.option:hover,
.option:focus {
  padding: 5px 15px;
  color: var(--highlight-font-color);
}

.option-green:hover {
  background-color: var(--navbar-bg-green);
}

.option-gray:hover {
  background-color: var(--navbar-bg-gray);
}

.option-red:hover {
  background-color: var(--navbar-bg-red);
}

.option-brown:hover {
  background-color: var(--navbar-bg-brown);
}

.option-cyan:hover {
  background-color: var(--navbar-bg-cyan);
}

.option-mossgreen:hover {
  background-color: var(--navbar-bg-mossgreen);
}

.option-purple:hover {
  background-color: var(--navbar-bg-purple);
}

.option-darkpurple:hover {
  background-color: var(--navbar-bg-darkpurple);
}

.option-orange:hover {
  background-color: var(--navbar-bg-orange);
}

.option-gray2:hover {
  background-color: var(--navbar-bg-gray2);
}

/* Article Highlights */
.highlights {
  max-width: 1200px;
  /* proporção do header */
  padding-left: 20px;

  margin: 10px auto;

  height: 75px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 22px;

  overflow-x: scroll;
}

.highlights>a {
  text-decoration: none;
}

.highlight-article {
  width: 305px;
  height: 74px;

  display: flex;
  align-items: center;
  gap: 14px;
}

.highlights::-webkit-scrollbar {
  display: none;
}

.smoke {
  position: absolute;
  background: transparent linear-gradient(90deg, #FFFFFF00 0%, #FFFFFF 100%);
  border-top: 1px solid #DDDDDD;
  width: 70px;
  height: 152px;
  right: 0px;
  top: 94px;
}