/* Main */
.advertisement2>img,
.advertisement3>img {
  width: 80%;
  height: 90px;
  object-fit: cover;
}

.advertisement-mobile {
  display: none;
  text-align: center;
}

.advertisement-mobile>img {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

/* Article-Main */
.half-marathon>img {
  width: 100%;
  height: auto;
}

.quote>img {
  width: 30px;
  height: 24px;
}

.iframe-ytb>iframe {
  width: 100%;
  height: clamp(13rem, 45vw, 30rem);
}

/* Aside1 */
.advertisement>a>img:first-child {
  width: 100%;
  height: auto;
}

.advertisement>a>img:last-child {
  width: 100%;
  height: auto;
}

.advertisement-aside>a {
  display: flex;
  flex-direction: column;

  gap: 34px;
}

.advertisement-aside>a:last-child {
  margin-bottom: 34px;
}