main {
  padding-top: 18px;
}

.layout-main {
  display: grid;
  grid-template-areas:
    "icons category aside"
    "icons article aside"
    "icons block-news aside"
    "icons aside-mobile aside";

  margin: 0 auto;
  max-width: 1332px;
}

.border {
  background-color: #DDDDDD;
}

/* Icons */
.side-icons {
  grid-area: icons;
  width: 40px;

  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-basis: 63px;
  gap: 8px;
}

.main-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.45vw;
}

.listen-icon>li>a {
  display: flex;
  align-items: center;

  height: 48px;

  box-shadow: 0px 5px 15px #00000037;
  border-radius: 31px;

  text-decoration: none;
}

.play-icon {
  display: flex;
  align-items: center;
  padding: 14px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #139933;
}

.listen-icon>li>a>span {
  width: 136px;
  text-align: center;
}

.social-icons {
  display: none;
  justify-content: space-between;
  gap: 2px;

  width: 188px;
}

/* Block News */
.block-news {
  grid-area: block-news;

  max-width: 864px;
  min-width: 320px;

  display: grid;
  gap: 40px;
}

.block-news>section {
  display: grid;
  gap: 30px;
}

.tags-area {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tags-area>a {
  background-color: #E9E9E9;
  border-radius: 17px;

  padding: 4px 12px;

  text-decoration: none;
  white-space: nowrap;
}

.container-follow {
  height: 150px;
  background: transparent linear-gradient(92deg, #268F94 0%, #335F95 37%, #7F498D 100%);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: auto;
  width: 50%;
}

.follow {
  padding-left: 24px;
}

.follow>p {
  margin: 0 auto;
  padding: 24px 0px;
}

.icon-google {
  position: relative;

  width: 30px;
  top: 30px;
  align-self: end;
}

.article-nav {
  display: flex;
  gap: 20px;
}

.article-nav-item {
  background-color: #FFFF;
  box-shadow: 1px 2px 7px #ACACAC;
  border-radius: 12px;
  width: 60%;
  height: auto;
  padding-top: 12px;
}

.article-nav-item>span {
  margin: 0px 20px;
}

.article-nav-item>div>a {
  text-decoration: none;
}

.article-nav-item>div {
  display: flex;
  align-items: center;
}

.previous-article>div {
  flex-direction: row-reverse;
}

.article-nav-item>div>a:first-child {
  padding: 12px 20px;
}

.previous-article {
  padding-left: 20px;

  text-align: end;
}

.article-nav-item>div>button {
  padding: 15px 20px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.previous-article>div>button{
  scale: -1;
}

.next-article {
  padding-right: 20px;
}

.related-block>span>a {
  text-decoration: none;
}

.related {
  display: flex;
  justify-content: space-between;
}

.related-article {
  width: 100%;

  margin-left: 5px;
}

.related-article:first-child {
  margin-left: 0;
}


.related-text>a {
  text-decoration: none;
}