main {
  padding-top: 18px;
}

.layout-main {
  display: grid;
  grid-template-areas:
    "icons category aside"
    "icons article aside"
    "icons tags aside"
    "icons aside-mobile aside";

  margin: 0 auto;
  max-width: 1332px;
}

.border {
  background-color: #DDDDDD;
}

/* Icons */
.side-icons {
  grid-area: icons;
  width: 40px;

  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-basis: 63px;
  gap: 8px;
}

.main-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.45vw;
}

.listen-icon>li>a {
  display: flex;
  align-items: center;

  height: 48px;

  box-shadow: 0px 5px 15px #00000037;
  border-radius: 31px;

  text-decoration: none;
}

.play-icon {
  display: flex;
  align-items: center;
  padding: 14px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #139933;
}

.listen-icon>li>a>span {
  width: 136px;
  text-align: center;
}

.social-icons {
  display: none;
  justify-content: space-between;
  gap: 2px;

  width: 188px;
}

/* Block News */
.container-tags {
  grid-area: tags;

  max-width: 864px;
  min-width: 320px;
}

.categories2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.categories2>a {
  background-color: #E9E9E9;
  border-radius: 17px;

  padding: 4px 12px;
  margin-right: 12px;
  margin-top: 8px;

  text-decoration: none;
  white-space: nowrap;
}

.follow {
  height: 150px;
  background: transparent linear-gradient(92deg, #268F94 0%, #335F95 37%, #7F498D 100%);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: auto;
  width: 50%;

  margin-top: 34px;
  margin-bottom: 52px;
}

.container-follow {
  padding-left: 24px;
}

.container-follow>p {
  margin: 0 auto;
  padding: 24px 0px;
}

.icon-google {
  position: relative;

  width: 30px;
  top: 30px;
  align-self: end;
}

.pass-back {
  display: flex;
  margin: 40px 0px;
  margin-top: 52px;
  gap: 20px;
}

.pb-article {
  background-color: #FFFF;
  box-shadow: 1px 2px 7px #ACACAC;
  border-radius: 12px;
  width: 60%;
  height: auto;
  padding-top: 12px;
}

.pb-article>span {
  margin: 0px 20px;
}

.pb-article>div>a {
  text-decoration: none;
}

.pb-article>div {
  display: flex;
  align-items: center;
}

.pb-article:first-child>div {
  flex-direction: row-reverse;
}

.pb-article>div>a:first-child {
  padding: 12px 20px;
}

.pb-article:first-child {
  padding-left: 20px;

  text-align: end;
}

.pb-article:first-child>div>a:last-child {
  padding-right: 40px;
}

.pb-article:last-child {
  padding-right: 20px;
}

.pb-article:last-child>div>a:last-child {
  padding-left: 40px;
}

.related>span>a {
  text-decoration: none;
}

.related>div {
  display: flex;
  gap: 21px;
  margin-top: 24px;
  margin-bottom: 50px;
}

.related>div>article {
  width: 274px;
}

.related-article>div>a {
  margin-top: 16px;
  margin-bottom: 8px;

  text-decoration: none;
}