@media (max-width: 1255px) {
  main {
    max-width: 100%;

    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .side-icons {
    display: none;
  }

  .social-icons {
    display: flex;
  }

  .mobile-icons {
    max-width: 380px;
  }

  .mobile-icons>ul:first-child {
    width: 500px;
  }

  .mobile-icons>ul:last-child {
    display: flex;
  }

}

@media (max-width: 896px) {
  .aside1 {
    display: none;
  }

  .aside2 {
    display: flex;
  }

  .related>div>article:last-child {
    display: none;
  }
}

@media (max-width: 590px) {
  .smoke {
    top: 167px;
  }

  .navbar-top {
    grid-template-areas:
      "logo logo burguer"
      "search search search";
  }

  .nav-top-logo {
    justify-self: start;

    grid-area: logo;
  }

  .nav-top-logo>img {
    width: 190px;
    height: 44px;
  }

  .nav-top-btn-buguer {
    justify-self: end;

    grid-area: burguer;
  }

  .nav-top-search {
    grid-area: search;

    width: 100%;
    height: 63px;

    align-self: center;
  }

  .nav-top-search>form>input {
    width: 100%;
  }

  .mobile-icons>ul:first-child {
    width: 150px;
  }

  .mobile-icons>ul:first-child>li>a {
    margin-right: 5px;
  }
  
  .article-header-block>p {
    margin-bottom: 12px;
  }

  .quote,
  mark {
    width: 100%;
  }

  .quote {
    padding-bottom: 20px;
  }

  .quote>.mark-quote1 {
    align-self: center;
    top: 10px;
    left: 0;

    margin-bottom: 6px;
  }

  .quote>blockquote {
    max-width: 90%;
  }

  .quote>.mark-quote2 {
    display: none;
  }

  .poll {
    max-width: 100%;
  }

  .poll>span {
    max-width: 100%;
  }

  .categories2>a {
    margin-right: 8px;
  }

  .pass-back {
    flex-direction: column;
  }

  .pb-article {
    width: 100%;
  }

  .follow {
    width: 95%;
  }

  .icon-google {
    top: 30px;
    align-self: flex-start;
  }

  .icon-google>img {
    width: 47.75px;
    height: 38.18px;
  }

  .pb-article:first-child>div>a:last-child {
    padding-right: 0px;
  }

  .pb-article:last-child>div>a:last-child {
    padding-left: 0px;
  }

  .related>div {
    flex-direction: column;
  }

  .related>div>article,
  .related>div>article>a>img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .related>div>article:last-child {
    display: block;
  }

  .logo-2 {
    margin-bottom: 18px;
  }

  .logo-2>img {
    width: 143px;
    height: 96px;
  }

  .copyright {
    text-align: start;
    margin-left: 20px;
  }

  /* Fonts */

  h1 {
    font-size: 35px !important;
    line-height: 36px !important;
  }

  .article-header-block>p {
    font-size: 18px !important;
  }

  .article-header-block>span {
    font-size: 12px !important;
  }

  p {
    font-size: 15px !important;
    line-height: 26px !important;
  }

  .quote>blockquote,
  mark>p {
    font-size: 24px !important;
    line-height: 24px !important;
  }

  .quote>cite {
    font-size: 14px !important;
  }



}

@media (max-width: 375px) {
  .advertisement2 {
    display: none;
  }

  .advertisement-mobile {
    display: block;
    margin-top: 24px;
  }

  .categories>div {
    margin-top: 24px;
  }

  .section-header {
    display: none;
  }

  .main-icons {
    z-index: 4;
    position: fixed;
    bottom: 0px;
    left: 0px;

    justify-content: space-evenly;

    background-color: #FFFF;
    box-shadow: 0px 5px 15px #00000037;
    height: 64px;
    width: 100%;
  }

  .listen-icon>li>a {
    height: 38px;
    width: 156px;
  }

  .play-icon {
    padding: 10px;
  }

  .play-icon>img {
    width: 9px;
    height: 9px;
  }

  .social-icons {
    width: 149px;
  }

  .social-icons>li>a>img {
    width: 36px;
    height: 36px;
  }

  .advertisement3>img:first-child {
    display: none;
  }

  .advertisement4 {
    display: block;
  }

  .lastest-news2>article {
    max-width: 100%;
  }

  .layout-footer {
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr;
  }

  .navbar-footer ul {
    width: 170px;
  }

  .navbar-right>ul {
    justify-content: start;
  }

  .logo-2,
  .credits {
    text-align: start;
  }

  .logo-2 {
    width: 150px;
  }

  .credits {
    width: 100px;
    display: flex;
    gap: 10px;

    margin-bottom: 46px;
  }

  .navbar-footer>ul>li:last-child {
    display: none;
  }

  /* Fonts */

  .navbar-categories>ul>li>a {
    font-size: 14px !important;
  }

  .categories>a {
    font-size: 12px !important;
  }

  h1 {
    font-size: 30px !important;
  }

  p {
    font-size: 16px !important;
  }

  .quote>blockquote,
  mark {
    font-size: 20px !important;
  }

  .quote>cite {
    font-size: 12px !important;
  }

  .subtitle {
    font-size: 20px !important;
  }

  .poll>span {
    font-size: 22px !important;
  }

  .form-poll>div>label {
    font-size: 14px !important;
  }

  .categories2>a {
    font-size: 12px !important;
  }

  .container-follow>p {
    font-size: 20px !important;
  }

  .pb-article>div>a>h4 {
    font-size: 16px !important;
  }
}