@font-face {
  font-family: Poppins;
  src: url(/components/font/Poppins-Regular.ttf) format(truetype);
  font-weight: 500;
}

@font-face {
  font-family: Poppins-Bold;
  src: url(/components/font/Poppins-Bold.ttf) format(truetype);
  font-weight: bold;
}

body {
  font-family: Poppins;
}

/* Header */
.navbar-categories>ul>li>a {
  color: #2e2e2e;

  font-size: 16px;
}

.article-header>article>span {
  font-size: 16px;
}

/* Main */

.categories>a {
  color: #101010;
  font-size: 14px;
}

.categories>div>span {
  color: #139933;
  font-size: 18px;
  font-weight: bold;
}

h1 {
  color: #101010;

  font-size: 44px;
  font-weight: bold;
  line-height: 52px;
}

p {
  color: #2e2e2e;
  font-size: 22px;
  line-height: 32px;
}

.icon-fixed>ul:first-child>li>span {
  color: #101010;

  font-size: 12px;
  font-weight: bold;
}

.upload {
  font-size: 16px;
}

.form>span {
  color: #139933;

  font-size: 24px;
  font-weight: bold;
}

.form>form>button {
  color: #ffffff;

  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
}

.quote>blockquote {
  color: #ffffff;

  font-size: 28px;
  font-weight: bold;
}

.quote>cite {
  color: #ffffff;

  font-size: 16px;
  font-style: normal;
}

.container>p {
  color: #ffffff;

  font-size: 28px;
  font-weight: bold;
}

.path2 {
  color: #101010;

  font-size: 26px;
  font-weight: bold;
}

/* Tags */
.container-tags>section>span {
  color: #101010;

  font-size: 24px;
  font-weight: bold;
}

.categories2 a {
  color: #101010;

  font-size: 14px;
}

.container-follow>p {
  color: #ffffff;

  font-size: 24px;
}

.container-follow>p>a {
  color: #ffffff;

  font-weight: bold;
}

.pb-article>span {
  color: #4F4F4F;

  font-size: 14px;
}

.pb-article>div>a>h4 {
  color: #2E2E2E;

  font-size: 18px;
  font-weight: 500;
}

.related>span {
  color: #101010;

  font-size: 24px;
  font-weight: bold;
}

.related>span>a {
  color: #139933;
}

.related-article>div>a:first-child {
  color: #139933;

  font-size: 18px;
  font-weight: bold;
}

.related-article>div>a:last-child>h4 {
  color: #101010;

  font-weight: 500;
  font-size: 20px;
}

/* Aside */
.lastest-news>span {
  color: #2E2E2E;

  font-size: 32px;
  font-weight: bold;
}

.lastest-news>article>a>h3 {
  color: #2E2E2E;

  font-size: 16px;
  font-weight: 500;
}

.lastest-news2>span {
  color: #101010;

  font-size: 24px;
  font-weight: bold;
}

.lastest-news2>article>div>a:first-child {
  font-size: 16px;
  font-weight: bold;
}

.lastest-news2>article>div>a>h3 {
  color: #101010;

  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.lastest-news2>article:nth-child(2)>div>a {
  color: #9B28B8;
}

.lastest-news2>article:nth-child(3)>div>a {
  color: #9B28B8;
}

.lastest-news2>article:nth-child(4)>div>a {
  color: #BD5B07;
}

.lastest-news2>article:nth-child(5)>div>a {
  color: #1D8108;
}

.lastest-news2>article:nth-child(6)>div>a {
  color: #2A6F48;
}

.lastest-news2>article:nth-child(7)>div>a {
  color: #1D8108;
}

.lastest-news2>article:nth-child(8)>div>a {
  color: #047885;
}


/* Footer */
.navbar-footer>ul>li>span {
  color: #FFFFFF;

  font-size: 20px;
  font-weight: bold;
}

.navbar-footer>ul>li>a {
  color: #FFFFFF;

  font-size: 16px;
}

.copyright>span {
  color: #FFFFFF;
}