@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(/components/font/Poppins-Regular.ttf) format(truetype);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(/components/font/Poppins-Bold.ttf) format(truetype);
  font-weight: bold;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Header */
.nav-top-search-form>input {
  font-family: 'Poppins', sans-serif;

  color: #101010;

  font-size: 16px;
}

.option {
  color: #2e2e2e;

  font-size: 16px;
}

.highlight-article>span {
  color: #101010;

  font-size: 16px;
}

/* Main */

.category>a {
  color: #101010;
  font-size: 14px;
}

.category>div>span {
  color: #139933;
  font-size: 18px;
  font-weight: bold;
}

h1 {
  color: #101010;

  font-size: 44px;
  font-weight: bold;
  line-height: 52px;
}

p {
  color: #2e2e2e;
  font-size: 22px;
  line-height: 32px;
}

.listen-icon>li>a>span {
  color: #101010;

  font-size: 16px;
  font-weight: bold;
}

.upload {
  font-size: 16px;
}

.poll>span {
  color: #139933;

  font-size: 24px;
  font-weight: bold;
}

.form-poll>button {
  color: #ffffff;

  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
}

.quote>blockquote {
  color: #ffffff;

  font-size: 28px;
  font-weight: bold;
}

.quote>cite {
  color: #ffffff;

  font-size: 16px;
  font-style: normal;
}

mark {
  color: #ffffff;

  font-size: 28px;
  font-weight: bold;
}

.subtitle {
  color: #101010;

  font-size: 26px;
  font-weight: bold;
}

/* Block News */
.block-news>section>span {
  color: #101010;

  font-size: 24px;
  font-weight: bold;
}

.tags-area>a {
  color: #101010;

  font-size: 14px;
}

.follow>p {
  color: #ffffff;

  font-size: 24px;
}

.follow>p>a {
  color: #ffffff;

  font-weight: bold;
}

.article-nav-item>span {
  color: #4F4F4F;

  font-size: 14px;
}

.article-nav-item>div>a>h4 {
  color: #2E2E2E;

  font-size: 18px;
  font-weight: 500;
}

.related-block>span {
  color: #101010;

  font-size: 24px;
  font-weight: bold;
}

.related-block>span>a {
  color: #139933;
}

.related-text>a {
  color: #139933;

  font-size: 18px;
  font-weight: bold;
}

.related-text>h4 {
  color: #101010;

  font-weight: 500;
  font-size: 20px;
}

/* Aside */
.lastest-news>span {
  color: #2E2E2E;

  font-size: 32px;
  font-weight: bold;
}

.news-article>h3 {
  color: #2E2E2E;

  font-size: 16px;
  font-weight: 500;
}

.lastest-news-mobile>span {
  color: #101010;

  font-size: 24px;
  font-weight: bold;
}

.article-text>a {
  font-size: 16px;
  font-weight: bold;
}

.article-text>h3 {
  color: #101010;

  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.title-purple {
  color: #9B28B8;
}

.title-orange {
  color: #BD5B07;
}

.title-green {
  color: #1D8108;
}

.title-dullgreen {
  color: #2A6F48;
}

.title-blue {
  color: #047885;
}


/* Footer */
.navbar-footer>menu>li>span {
  color: #FFFFFF;

  font-size: 20px;
  font-weight: bold;
}

.navbar-footer>menu>li>a {
  color: #FFFFFF;

  font-size: 16px;
}

.copyright>span {
  color: #FFFFFF;
}